.bgAdinfo {
  background: #e6e6e6;
}

/*------------------------------------------------------------
Access page
------------------------------------------------------------*/
.mT10 {
  margin-top: 10px;
}

.adinfo__ttl {
  font-size: 22px;
  padding: 13px 20px;
  background: #000;
  color: #fff;
  font-weight: normal;
}

.adinfo__top {
  padding-bottom: 0;
  margin-bottom: 25px !important;
}

.adinfo__top a {
  display: block;
}

.adinfo__bottom h3 {
  display: none;
}

.adinfo__bottom > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
}

.adinfo__bottom li {
  width: 230px;
  background: #fff;
  margin-right: 20px;
}

.adinfo__bottom li:last-child {
  margin-right: 0;
}

.adinfo__bottom li a {
  display: block;
  text-align: center;
  color: #2770c3;
  padding-bottom: 6px;
}

.adinfo__bottom li a:hover {
  text-decoration: underline;
}

.adinfo__bottom li img {
  margin-bottom: 7px;
}

.adinfo__textBannerList li {
  width: 480px;
  margin-bottom: 25px;
}

.adinfo__textBannerList li:nth-child(even) {
  margin-right: 0;
}

.adinfo__textBannerList li a {
  font-weight: bold;
  color: #2a2a2a;
  font-size: 18px;
  border: 2px solid #cdcdcd;
  background-color: #fff;
  padding: 12px 0;
}

.adinfo__textBannerList li a.primary {
  color: #eb1d34;
  border: 2px solid #ecc1c5;
  background-color: #ffe4e8;
}

.adinfo__allNews {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 60px;
}

.adinfo__allNews .ttl {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 28px;
  padding-bottom: 8px;
  border-bottom: 1px solid #c1c1c1;
}

.adinfo__allNews li {
  padding: 15px 0;
  background: url("../images/adinfo/horizontal_dot_line.png") left bottom repeat-x;
}

.adinfo__allNews li:nth-child(1) {
  padding-top: 0;
}

.adinfo__allNews li .time {
  display: block;
  color: #999;
  font-size: 12px;
  padding-top: 1px;
}

.adinfo__allNews li .newsContent {
  display: block;
  color: #2770c3;
  padding-top: 10px;
}

.adinfo__allNews li .newsContent:hover {
  text-decoration: underline;
}

.adinfo__intro {
  margin-bottom: 55px;
}

.adinfo__intro h3 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: normal;
}

.adinfo__intro p {
  line-height: 1.7;
  font-size: 13px;
}

.adinfo__intro a {
  display: inline-block;
}

.adinfo section {
  margin-bottom: 55px;
}

.adinfo section h3 {
  border-bottom: 2px solid #c1c1c1;
  position: relative;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
  padding-bottom: 8px;
}

.adinfo section h3:before {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #eb1d34;
}

.adinfo section h4 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 8px;
  color: #2b2b2b;
}

.adinfo section.bdnocolor h3 {
  border-width: 1px;
}

.adinfo section.bdnocolor h3:before {
  background-color: transparent;
}

.adinfo section.bdnocolor h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}

.adinfo section.bdnocolor p {
  font-size: 13px;
  line-height: 1.7;
  margin-top: 15px;
}

.adinfo section.bdnocolor ol li {
  font-size: 13px;
  margin-left: 10px;
}

.adinfo section.bdnocolor ol li:first-child {
  margin-top: 16px;
}

.adinfo__listBox h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid #c1c1c1;
}

.adinfo__listBox h3 a {
  display: block;
  color: #2770c3;
}

.adinfo__listBox h3 a:hover {
  text-decoration: underline;
}

.adinfo__listBox figure {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.adinfo__listBox ul {
  margin-top: 60px;
}

.adinfo__listBox ul.mT0 {
  margin-top: 0;
}

.adinfo__listBox li {
  margin-bottom: 45px;
}

.adinfo__listBox li img {
  float: left;
  width: 220px;
  border: 1px solid #d6d6d6;
}

.adinfo__listBox li figcaption {
  width: 470px;
  float: right;
  margin-left: 30px;
}

.adinfo__listBox li h4 {
  font-size: 20px;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top: 14px;
}

.adinfo__listBox li a {
  color: #2770c3;
}

.adinfo__listBox li a:hover {
  text-decoration: underline;
}

.adinfo__listDownload {
  padding-bottom: 15px;
  position: relative;
}

.adinfo__listDownload.bdDotted {
  border-bottom: 1px dotted #b2b2b2;
  margin-bottom: 110px;
}

.adinfo__listDownload p {
  width: 490px;
}

.adinfo__listDownload a {
  position: absolute;
  top: 69px;
  right: 0;
}

.adinfo__listDownload .labeNew {
  color: red;
  font-weight: bold;
}

.adinfo__2cl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adinfo__list {
  width: 350px;
  margin-left: 20px;
}

.adinfo__list:first-child {
  margin-left: 0;
}

.adinfo__list #adinfo__select {
  padding-top: 15px;
}

.adinfo__list #adinfo__select input[type="radio"] {
  margin: 0;
  margin-right: -4px;
}

.adinfo__list #adinfo__select label {
  display: block;
}

.adinfo__list #adinfo__select .caution {
  font-size: 13px;
  line-height: 16px;
  margin-top: 8px;
  padding: 15px;
  color: #eb1d34;
  background-color: #ffe6e9;
}

.adinfo__list a {
  margin: 20px auto 0 auto;
}


/*------------------------------------------------------------
Style WP
------------------------------------------------------------*/
.adinfo section p img{
  margin-bottom: -20px !important;
}

.adinfo section.bdnocolor .news__lists li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adinfo section.bdnocolor .news__date {
  width: 140px;
}

.adinfo section.bdnocolor .news__box {
  margin-top: -3px;
}

.adinfo section.bdnocolor .news__box a {
  margin-top: 0px;
  font-size: 13px;
}

.adinfo__productMap {
  position: relative;
}

.adinfo__productMap ul li {
  position: absolute;
}

.adinfo__productMap ul a {
  display: block;
  height: 0;
  overflow: hidden;
}

.adinfo__productMap ul a:hover {
  background-position: left -200px;
}

.adinfo__productMap .ss {
  left: 35px;
  top: 35px;
}

.adinfo__productMap .ss a {
  width: 290px;
  padding-top: 133px;
  background: url("../images/adinfo/link_ss.png") no-repeat;
}

.adinfo__productMap .nativead {
  left: 35px;
  top: 238px;
}

.adinfo__productMap .nativead a {
  width: 290px;
  padding-top: 133px;
  background: url("../images/adinfo/link_nativead.png") no-repeat;
}

.adinfo__productMap .tu {
  left: 396px;
  top: 238px;
}

.adinfo__productMap .tu a {
  width: 290px;
  padding-top: 133px;
  background: url("../images/adinfo/link_tu.png") no-repeat;
}

.adinfo__productMap .special {
  left: 48px;
  top: 142px;
}

.adinfo__productMap .special a {
  width: 290px;
  padding-top: 133px;
  background: url("../images/adinfo/link_special.png") no-repeat;
}

.adinfo__productMap .matome {
  left: 269px;
  top: 130px;
}

.adinfo__productMap .matome a {
  width: 290px;
  padding-top: 133px;
  background: url("../images/adinfo/link_matome.png") no-repeat;
}

.adinfo__productMap .mediaplus {
  left: 395px;
  top: 34px;
}

.adinfo__productMap .mediaplus a {
  width: 290px;
  padding-top: 133px;
  background: url("../images/adinfo/link_mediaplus.png") no-repeat;
}

.adinfo__imageRightBox {
  margin-bottom: 15px;
}

.adinfo__imgRight {
  width: 260px;
  float: right;
  text-align: right;
}

.adinfo__textLeft {
  float: left;
  max-width: 460px;
}

.adinfo__textLeft .paragraph {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.adinfo__textLeft .strongColumnTitle {
  border-bottom: 2px solid #c1c1c1;
  position: relative;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 28px;
  padding-bottom: 8px;
}

.adinfo__textLeft .strongColumnTitle:after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #eb1d34;
}

.adinfo__textLeft .paragraph strong {
  display: block;
}

.adinfo__textLeft .paragraphTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.adinfo__textLeft ul {
  margin-bottom: 30px;
}

.adinfo__textLeft li {
  margin-top: 15px;
  position: relative;
  padding-left: 1.25em;
}

.adinfo__textLeft li span {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.adinfo__textLeft li::before {
  content: "・";
  position: absolute;
  left: 0;
  top: 0.1em;
  font-weight: bold;
}

.adinfo__3cl ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adinfo__3cl li {
  width: 220px;
  margin-left: 30px;
}

.adinfo__3cl li img {
  margin-bottom: 5px !important;
}

.adinfo__3cl li:nth-child(1) {
  margin-left: 0;
}

.adinfo__3cl li:hover span {
  text-decoration: underline;
}

.adinfo__3cl .ttl {
  border-bottom: 1px solid #c1c1c1;
  position: relative;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 65px;
  padding-bottom: 8px;
}

