@import url("reset.css");
/*------------------------------------------------------------
Header
------------------------------------------------------------*/
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__inner {
  width: 980px;
  background: #fff;
  margin: 0 auto;
}

.header__inner h1 {
  float: left;
  padding-top: 10px;
}

.header__inner h1 a {
  display: block;
  text-indent: -9999px;
  background: url("../images/logo3.png") center center no-repeat;
  width: 155px;
  padding: 20px 0;
}

.header__inner nav {
  float: right;
}

.header__inner li {
  float: left;
  padding: 25px 0 32px 0;
  position: relative;
  border-top: 3px solid #fff;
}

.header__inner li a {
  display: block;
  margin: 0 10px;
  color: #555555;
  font-weight: bold;
  font-size: 13px;
}


.header__inner li:hover a {
  text-decoration: underline;
}

.header__inner li.featured {
  border-top: 3px solid #eb1d34;
}

.pb20 {
  padding-bottom: 20px;
}

li.pb25 {
  padding-bottom: 25px;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  background: #212121;
  padding-top: 30px;
  position: relative;
}

.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer ul {
  line-height: 1.7;
  width: 245px;
}

.footer ul a {
  display: block;
  color: #bebebe;
  font-size: 11px;
  font-weight: normal;
  padding-left: 12px;
}

.footer ul a:hover {
  text-decoration: underline;
}

.footer ul ul a {
  padding-left: 24px;
}

.footer li.footer__navttl {
  background: url("../images/icon_footerNav.png") left center no-repeat;
}

.footer li.footer__navttl  a {
  font-weight: bold;
  color: #fff;
}

.footer li.footer__navttl.pb20 {
  background-position: left 8px;
}

.footer__coppyright {
  border-top: 1px solid #2a2a2b;
  margin-top: 35px;
  padding: 20px 0;
  width: 100%;
}

.footer__coppyright small {
  color: #999;
  font-size: 10px;
}

.pageTop {
  position: fixed;
  z-index: 9999;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
}

.pageTop span {
  text-indent: -9999px;
  display: inline-block;
  background: url("../images/icon_arrowPageTop.png") center center no-repeat;
  width: 40px;
  height: 40px;
  background-color: #6c6c6c;
  border-radius: 4px;
}

/*------------------------------------------------------------
BREADCRUMB 
------------------------------------------------------------*/
.bearcum {
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bearcum li {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  color: #666;
}

.bearcum li:before {
  content: ">";
  color: #999;
  margin-right: 5px;
}

.bearcum li:first-child:before {
  content: "";
}

.bearcum li a {
  margin-right: 5px;
  color: #2770c3;
}

.bearcum li a:hover {
  text-decoration: underline;
}

.bearcum li.current {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 620px;
  display: inline-block;
  overflow: hidden;
}

/*------------------------------------------------------------
layout
------------------------------------------------------------*/

html {
  min-width: 980px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
  background: #fff;
}

.content {
  width: 980px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.main {
  padding-top: 78px;
}

/*------------------------------------------------------------
Component Components
------------------------------------------------------------*/
p {
  color: #292929;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.clear {
  clear: both;
}

.listservice {
  background: #212121;
  margin-top: 420px;
  z-index: 10;
  position: relative;
}

.listservice ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.listservice ul ul {
  position: absolute;
  left: 0;
  background: #000;
  width: 100%;
  padding: 12px;
  padding-bottom: 0;
  display: none;
  opacity: 0;
  z-index: 10;
}

.listservice ul ul li {
  float: left;
  width: 230px;
  background: #fff;
  border: none;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.listservice ul ul li:nth-child(4) {
  margin-right: 0;
}

.listservice ul ul li:nth-child(8) {
  margin-right: 0;
}

.listservice ul ul li:hover {
  background: #fff;
}

.listservice ul ul a {
  padding-left: 10px;
}

.listservice ul ul img {
  float: left;
  width: 74px;
}

.listservice ul ul p {
  width: 130px;
  float: right;
  text-align: left;
  font-size: 12px;
  line-height: 1.5rem;
  padding: 11px 5px 0 0;
}

.listservice ul > li {
  line-height: 40px;
  border-right: 1px solid #000;
  border-left: 1px solid #3f3f3f;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 140px;
  text-align: center;
}

.listservice ul > li:hover {
  background: #000;
}

.listservice ul > li:hover ul {
  opacity: 1;
  display: block;
}

.listservice a {
  display: block;
  color: #fff;
  font-size: 13px;
}

.listservice.fixed {
  position: fixed;
  top: 78px;
  width: 100%;
  z-index: 100;
  margin-top: 0;
}

.listservice .menu {
  width: 980px;
  margin: 0 auto;
}

/*------------------------------------------------------------
INFOMATION 
------------------------------------------------------------*/
.news {
  background: #fff;
  padding: 57px 0 0 0;
  z-index: 1;
  position: relative;
  padding-bottom: 57px;
}

.news__ttl {
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 27px;
  padding-bottom: 8px;
}

.news__ttl h3 {
  font-size: 22px;
  font-weight: normal;
  float: left;
  margin-right: 25px;
}

.news__ttl a {
  display: inline-block;
  font-size: 12px;
  background: url("../images/index/icon_mail.png") left center no-repeat;
  background-color: #eb1d34;
  color: #fff;
  border-radius: 4px;
  padding: 6px 12px 5px 38px;
  background-position: 13px 8px;
  position: relative;
  bottom: -3px;
}

.news__ttl a:hover {
  opacity: .8;
}

.news__lists li {
  background: url("../images/horizontal_dot_line.png") left bottom repeat-x;
  padding: 15px 0;
}

.news__lists li:first-child {
  padding-top: 0;
}

.news__lists a {
  display: inline-block;
  color: #2770c3;
  margin-top: 13px;
}

.news__lists a small {
  font-size: 80%;
  display: block;
}

.news__lists a:hover {
  text-decoration: underline;
}

.news__date {
  color: #999;
  font-size: 12px;
}

.news__cat {
  background: #ececec;
  color: #333;
  display: inline-block;
  font-size: 12px;
  padding: 2px 10px;
  margin-left: 15px;
  min-width: 70px;
  text-align: center;
}

.news__company {
  float: right;
}

.news__label {
  color: #eb1d34;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
}

/*------------------------------------------------------------
Slide
------------------------------------------------------------*/
.slide {
  /* ---- Style slide ---- */
  /* ---- Button arrow ---- */
  /* ---- Button dots ---- */
}

.slide__item {
  height: 420px;
}

.slide .slick-slide {
  opacity: .5;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.slide .slick-slide.slick-current {
  opacity: 1;
}

.slide .slick-arrow {
  position: absolute;
  top: 42%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  text-indent: -9999px;
  border: none;
  width: 37px;
  height: 72px;
  cursor: pointer;
}

.slide .slick-arrow:hover {
  background-color: #000;
}

.slide .slick-next {
  left: auto;
  right: 0px;
  background: #212121 url("../images/index/top_angle_right.png") center center no-repeat;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.slide .slick-prev {
  background: #212121 url("../images/index/top_angle_left.png") center center no-repeat;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.slide .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.slide .slick-dots li {
  margin: 0 5px;
}

.slide .slick-dots .slick-active button {
  background: #e50c15;
}

.slide .slick-dots button {
  text-indent: -9999px;
  border: none;
  background: #1c1c1c;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.slide .slick-dots button:hover {
  background: #e50c15;
}

/*------------------------------------------------------------
Animation
------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
/*# sourceMappingURL=../maps/common.css.map */


/*------------------------------------------------------------
Style WP
------------------------------------------------------------*/
.listservice ul ul a {
  float: right;
  width: 130px;
  text-align: left;
  font-size: 12px;
  line-height: 1.5rem;
  padding: 11px 5px 11px 0;
  padding-left: 80px;
  color: #292929;
}

.listservice ul ul li.menu-item-304 a{
  background: url("../images/index/serviceLogo015.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-305 a{
  background: url("../images/index/serviceLogo193.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-306 a{
  background: url("../images/index/serviceLogo051.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-307 a{
  background: url("../images/index/serviceLogo081.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-308 a{
  background: url("../images/index/serviceLogo101.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-309 a{
  background: url("../images/index/citrus1.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-310 a{
  background: url("../images/index/picup1.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-311 a{
  background: url("../images/index/serviceLogo_chill1.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-312 a{
  background: url("../images/index/twinavi_logo_small.jpg") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-315 a{
  background: url("../images/index/highlighting-japan1.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-316 a{
  background: url("../images/index/allabout-japan_small.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-317 a{
  background: url("../images/index/serviceLogo13_small.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-318 a{
  background: url("../images/index/serviceLogo131.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-319 a{
  background: url("../images/index/serviceLogo141.png") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-320 a{
  background: url("../images/index/gakusyu1.jpg") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-321 a{
  background: url("../images/index/gakusyu1.jpg") left center no-repeat;
  background-size: 33%;
}
.listservice ul ul li.menu-item-322 a{
  background: url("../images/index/serviceLogo13_small.png") left center no-repeat;
  background-size: 33%;
}

.listservice.subPage {
  margin-top: 0;
  width: 100%;
  top: 78px;
  position: fixed;
}

.mainContent {
  width: 720px;
  float: right;
  padding-bottom: 40px;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
.subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #a3a3a3;
  padding: 12px 0 12px;
  background: url("../images/bg_pageTitle.png") left bottom no-repeat;
  margin-bottom: 30px;
}

.subTitle h2 {
  font-size: 28px;
  font-weight: normal;
  color: #2b2b2b;
}

.subTitle a {
  display: block;
  margin-top: 4px;
  height: 18px;
  padding: 6px 12px 6px 40px;
  border-radius: 4px;
  font-size: 12px;
  background: url("../images/index/icon_mail.png") 14px center no-repeat;
  background-color: #eb1d34;
  color: #fff;
}

.subTitle a:hover {
  opacity: .8;
}


/*------------------------------------------------------------
Sidebar
------------------------------------------------------------*/
.sidebar {
  float: left;
  width: 230px;
  padding-bottom: 80px;
}

.sidebar  ul {
  border-bottom: 1px solid #e0e0e0;
}

.sidebar li {
  list-style-type:none; 
}

.sidebar ul li {
  border-top: 1px solid #e0e0e0;
}

.sidebar  ul li a {
  background: #fff;
  color: #333;
  font-size: 13px;
  color: #333;
  padding: 19px 12px 19px 20px;
  display: block;
}

.sidebar ul li a:hover {
  text-decoration: underline;
  background: #f3f3f3;
}

.sidebar ul li.current-menu-item {
  background: #f3f3f3;
}

.sidebar ul li.current-menu-item > a {
  background: url('../images/icon_localNav.png') 5px center no-repeat;
  font-weight: bold;
}

.sidebar ul li.current-menu-item > a:hover {
  background: url('../images/icon_localNav.png') 5px center no-repeat;
  text-decoration: none;
}

.sidebar ul.sub-menu {
  border-bottom: none;
  display: none;
}

.sidebar ul.sub-menu li.current-menu-item > a {
  background: url('../images/icon_localNav.png') 20px center no-repeat;
}

.sidebar ul.sub-menu li a{
  padding-left: 35px;
}

.sidebar ul li.localNavlist:hover a {
  background: #212121;
  color: #fff;
}

.sidebar ul li.localNavlist a {
  display: block;
  color: #fff;
  background: #212121;
  padding: 20px 22px 20px 20px;
  font-size: 18px;
  font-weight: normal;
}

.sidebar ul li.localNavlist a:hover {
  text-decoration: underline;
}

.sidebar ul ul li {
  font-size: 13px;
  border-top: 1px solid #e0e0e0;
}

.main .content.clearfix {
  margin-top: 45px;
}

.sidebar .current-menu-parent > a {
  background: #f3f3f3;
}

.sidebar .current_page_item.menu-item-has-children .sub-menu {
  display: block;
}

.sidebar .current_page_parent.menu-item-has-children .sub-menu {
  display: block;
}
/*------------------------------------------------------------
Text date post in WP
------------------------------------------------------------*/
.entry-date .date {
  color: #333;
  font-size: 13px;
}

.entry-content {
  margin: 30px 0 90px;
}

.entry-content p {
  line-height: 1.7;
  margin-bottom: 20px;
  color: #333;
  font-size: 13px;
}


/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.btn--2cl {
  text-align: center;
}

.btn--2cl a {
  margin-right: 12px;
}

.btn a {
  display: inline-block;
  background: #eb1d34;
  font-size: 15px;
  margin-top: 23px;
  color: #fff;
  width: 220px;
  padding: 12px 0;
  text-align: center;
  border-radius: 3px;
}

.btn a:hover {
  opacity: .8;
}

.btnlink {
  background: #eb1d34;
  width: 180px;
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
  color: #fff !important;
  border-radius: 3px;
  display: block;
}

.btnlink:hover {
  opacity: .8;
  text-decoration: none;
}

a {
  color: #2770c3;
}

a.linkImg {
  background: url("../images/corporate/icon_blank_open.png") right center no-repeat;
  padding-right: 18px;
}

.widgettitle {
  display: none;
}

.widget_archive li:nth-child(1){
  border-top: none !important;
}