/*------------------------------------------------------------
Corporate press
------------------------------------------------------------*/
.corporate form .searchTitle {
  margin-bottom: 12px;
  font-size: 16px;
}

.corporate form .searchContent {
  border-bottom: 1px solid #d6d6d6;
  border-spacing: 0;
  margin-bottom: 25px;
}

.corporate form dl {
  margin-bottom: 25px;
  border-bottom: 1px solid #d6d6d6;
}

.corporate form dt {
  float: left;
  width: 180px;
  background: #f3f3f3;
  padding: 14px 0 0;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  height: 44px;
  line-height: 1;
  margin: 0;
  border-left: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}

.corporate form dd {
  float: right;
  width: 540px;
  padding: 9px 0 0;
  height: 44px;
  margin: 0;
  border-right: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}

.corporate form dd select {
  width: 180px;
  margin-left: 15px;
  padding-bottom: 3px;
}

.corporate form dd option {
  font-size: 12px;
}

.corporate form dd.item_company_name select {
  width: 360px;
}

.corporate form .searchSubmit {
  width: 200px;
  margin: 0 auto;
}

.corporate form .searchSubmit input {
  display: block;
  width: 200px;
  padding: 14px 0;
  font-size: 14px;
  text-align: center;
  background: url("../images/icon_search.png") 50px 15px no-repeat;
  background-color: #212121;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.corporate form .searchSubmit input:hover {
  opacity: .8;
}

.corporate input.tnp-email {
    float: left;
    display: block;
    margin-right: 20px;
    width: 240px;
    background-color: #f3f3f3;
    border: 0;
    padding: 10px 8px;
}

.corporate input.tnp-button {
    padding: 10px 32px;
    color: white;
    background-color: #eb1d34;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.inquiries p {
  margin-bottom: 20px;
}

.inquiries p img {
  width: 200px;
}

.inquiries__inner .alert {
  border: 1px solid transparent;
  border-color: #ebccd1;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: bold;
  color: #a94442;
  background-color: #f2dede;
}

.inquiries__inner .alert.alert-danger {
  border-color: #ebccd1;
  color: #cf0000;
  background-color: #f2dede;
}

.inquiries .question {
  margin: 0 20px;
  padding: 16px 0;
  text-align: left;
  font-size: 14px;
}

.inquiries .question + .question {
  border-top: 1px dotted #d6d6d6;
}
.inquiries dd:after{
  content: '';
  display: block;
  clear: both;
}

.inquiries .tv_enq_q {
  margin: 0 0 6px 6px;
  padding: 0 0 0 16px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.inquiries .tv_enq_q:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #c40300;
  position: absolute;
  left: 0;
  top: 8px;
}

.inquiries .tv_enq_a {
  margin: 0;
  padding: 0 10px 0 22px;
}

.inquiries .tv_enq_a p {
  margin-bottom: 0;
}

.inquiries .tv_enq_a .text {
  margin-bottom: 3px;
  color: #888;
}

.inquiries .tv_enq_a span {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 6px 0 0;
  padding: 0 0 5px 0;
  max-width: 100%;
}

.inquiries .tv_enq_a input.wpcf7-form-control {
  padding: 5px;
  border: 1px solid #ccc;
  height: 20px;
}

.inquiries .tv_enq_a .company {
  width: 400px;
  max-width: 99%;
}

.inquiries .tv_enq_a .name {
  width: 160px;
  max-width: 99%;
}

.inquiries .tv_enq_a .phone {
  width: 5em;
  max-width: 99%;
  margin-right: 7px;
}

.inquiries .attribute.seperator {
  margin-right: 15px;
}
.inquiries .tv_enq_a .phone:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  height: 1px;
  width: 2px;
}

.inquiries .tv_enq_a .mail {
  width: 400px;
  max-width: 99%;
}

.inquiries span.wpcf7-not-valid-tip {
  display: block;
}

.inquiries .tv_enq_a .message {
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 580px;
  height: 130px;
  margin: 5px 0 0 0;
  padding: 5px;
  resize: none;
}

.inquiries .wpcf7-not-valid {
  background: #ffc0cb;
}


#tv_enq_caution {
  margin: 10px 0 0;
  padding: 0 20px;
  text-align: left;
  color: #404040;
}

#tv_enq_caution p {
  font-size: 12px;
}

#tv_enq_submit {
  padding: 30px 0;
  padding-bottom: 0;
  text-align: center;
}
#tv_enq_submit input.wpcf7-submit {
  border-width: 6px;
  background-color: #d15b47;
  border-color: transparent;
  color: #fff;
  display: inline-block;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  box-shadow: none;
  line-height: 1.33;
  padding: 10px 21px;
  font-size: 22px;
  cursor: pointer;
  transition: all ease .15s;
}

#tv_enq_submit input.wpcf7-submit:hover {
  background-color: #b74635 !important;
  border-color: #d15b47;
}