/*------------------------------------------------------------
Corporate
------------------------------------------------------------*/
p.mB50 {
  margin-bottom: 50px;
}

#corporate .content {
  margin-top: 45px;
}

.corporate {
  /* ---- Page vision ---- */
  /* ---- Page message ---- */
  /* ---- Page officer ---- */
  /* ---- Page overview ---- */
  /* ---- Page map ---- */
}

.corporate__listBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.corporate__listBox li {
  width: 345px;
  margin-right: 30px;
  padding-bottom: 40px;
}

.corporate__listBox li:nth-child(even) {
  margin-right: 0;
}

.corporate__listBox li h3 {
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 22px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
}

.corporate__listBox li a {
  display: block;
  color: #2770c3;
}

.corporate__listBox li a:hover {
  text-decoration: underline;
}

.corporate__listBox li p {
  color: #292929;
  font-size: 13px;
}

.corporate__content {
  margin-bottom: 130px;
}

.corporate__content img {
  margin-bottom: 13px;
}

.corporate__content .corporate__ttlLogo {
  display: block;
  font-size: 150%;
  background: url("https://corp.allabout.co.jp/files/2014/11/he_rb.png") -1px 15px no-repeat;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 3px;
  padding-left: 20px;
}

.corporate__content p {
  font-size: 13px;
  margin-top: 20px;
  color: #292929;
  line-height: 1.7;
}

.corporate__text--left {
  float: left;
}

.corporate__text--left p {
  width: 470px;
}

.corporate__text--left p:first-child {
  margin-top: -5px;
}

.corporate__text--left figure {
  padding-top: 35px;
}

.corporate__text--left img {
  max-width: 470px;
}

.corporate__ttlMess {
  font-size: 20px;
  padding: 45px 0 0;
}

.corporate__img--right {
  float: right;
  width: 220px;
}

.corporate__img--right img {
  width: 220px;
  border: 1px solid #d6d6d6;
}

.corporate__signature .role {
  padding-top: 40px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.corporate__signature .name {
  text-indent: -9999px;
  background: url("../images/corporate/signature.png") top left no-repeat;
  height: 0;
  padding-top: 35px;
}

.corporate__profile {
  margin-bottom: 55px;
}

.corporate__profile figure {
  float: left;
  margin-right: 30px;
}

.corporate__profile img {
  width: 220px;
  border: 1px solid #d6d6d6;
}

.corporate__profile .role {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: normal;
  line-height: 1;
}

.corporate__profile .name {
  font-size: 24px;
  margin-bottom: 22px;
  font-weight: normal;
  line-height: 1;
}

.corporate__directorsList {
  border-top: 1px solid #d6d6d6;
  margin-top: 60px;
  padding-top: 60px;
}

.corporate__directorsList ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}

.corporate__directorsList li {
  width: 33.333%;
  padding-bottom: 25px;
}

.corporate__listTable {
  border: 1px solid #d6d6d6;
  border-bottom: none;
}

.corporate__listTable li {
  display: table;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 13px;
}

.corporate__listTable li .th {
  background-color: #f3f3f3;
  display: table-cell;
  white-space: nowrap;
  width: 36%;
  padding: 13px;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6;
}

.corporate__listTable li .td {
  display: table-cell;
  width: 100%;
  background: #fff;
  padding: 13px;
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.corporate__listTable li .td a {
  color: #2770c3;
}

.corporate__listTable li .td a.pdf {
  padding-left: 25px;
  background: url("../images/corporate/icon_pdf.png") left center no-repeat;
}

.corporate__listTable li .td a.link {
  background: url("../images/corporate/icon_blank_open.png") right center no-repeat;
  padding-right: 15px;
}

.corporate__listTable li .td a:hover {
  text-decoration: underline;
}

.corporate__listsubTable li.th {
  padding: 0;
  border: 0;
  background: none;
  padding-bottom: 5px;
  padding-top: 10px;
}

.corporate__listsubTable li.th:first-child {
  padding-top: 0;
}

.corporate__listsubTable li {
  display: table;
  width: 100%;
}

.corporate__listsubTable li .role {
  display: table-cell;
  width: 45%;
}

.corporate__listsubTable li .name {
  display: table-cell;
}

.corporate__box {
  position: relative;
  margin-bottom: 55px;
}

.corporate__box .corporate__ttl {
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 28px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
}

.corporate__box .corporate__name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

.corporate__box iframe {
  margin-bottom: 25px;
}

.corporate__box .corporate__address {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 13px;
}

.corporate__box .corporate__detail {
  font-size: 13px;
}

.corporate__listLink {
  margin-bottom: 58px;
}

.corporate__listLink h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 28px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
}

.corporate__listLink li {
  background: url("../images/corporate/horizontal_dot_line.png") left bottom repeat-x;
  padding: 15px 0;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.corporate__listLink li:first-child {
  padding-top: 0;
}

.corporate__listLink li .time {
  float: left;
  color: #999;
  font-size: 12px;
  width: 140px;
}

.corporate__listLink li .newContent {
  float: right;
  width: 580px;
  color: #333;
  font-size: 13px;
}

.corporate__listLink li a {
  color: #2770c3;
  background: url("../images/corporate/icon_blank_open.png") right center no-repeat;
  display: inline-block;
  padding-right: 15px;
}

.corporate__listLink li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=../maps/corporate.css.map */
