/*------------------------------------------------------------
GUIDE 
------------------------------------------------------------*/
.pb20 {
  padding-bottom: 20px;
}

.mB60 {
  margin-bottom: 60px;
}

.guide p {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 22px;
}

.guide__section {
  margin-bottom: 58px;
}

.guide__section h3 {
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 28px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
}

.guide__section h3 a {
  color: #2770c3;
  display: block;
}

.guide__section h3 a:hover {
  text-decoration: underline;
}

.guide__section figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide__section figure img {
  width: 220px;
  border: 1px solid #d6d6d6;
}

.guide__section figure .guideImage {
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  border: none;
  padding-top: 10px;
}

.guide__section figcaption {
  width: 470px;
}

.guide__section figcaption p {
  margin-bottom: 0;
  margin-top: -5px;
}

.guide__section figcaption .subtxt {
  font-size: 11px;
  display: block;
  line-height: 1.8;
  color: #666;
  padding-top: 5px;
}

.guide__section .guiderText {
  font-size: 11px;
  padding-top: 30px;
  color: #666;
}

.guide__listData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guide__listData li {
  width: 220px;
  margin-left: 30px;
}

.guide__listData li:first-child {
  margin-left: 0;
}

.guide__listData li figure {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.guide__listData li img {
  width: auto;
  border: none;
  margin-bottom: 30px;
}

.guide__listData li .title {
  display: block;
  font-size: 17px;
  color: #333;
}

.guide__listData li .number {
  display: block;
  font-size: 28px;
  font-weight: bold;
}

.guide__listData li .number span {
  font-size: 17px;
}

.guide__img {
  margin-bottom: 33px;
}

.guide .textIntro {
  margin-bottom: 30px;
}

.guide__carrerImg {
  padding-top: 25px;
}

.guide__figcaption {
  margin-left: 30px;
}

.guide__figcaption h3 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.guide__figcaption .role {
  font-size: 15px;
  font-weight: normal;
}

.guide__figcaption .name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 12px;
}

.guide__figcaption p {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 0;
}

.guide__figcaption .interviewPage {
  padding-top: 15px;
  width: 470px;
}

.guide__figcaption .interviewPage .dt {
  font-weight: bold;
  margin-bottom: 7px;
}

.guideBanner {
  padding-top: 30px;
}

.guideBanner a {
  display: block;
  border: 1px solid #d6d6d6;
}
/*# sourceMappingURL=../maps/guide.css.map */
