.ir__linlListBox {
  margin-bottom: 58px;
}

.ir__linlListBox a:hover {
  text-decoration: underline;
}

.ir__linlListBox .ttl {
  margin-bottom: 28px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
}

.ir__linlListBox .ttl a {
  font-weight: normal;
  font-size: 22px;
  display: block;
}

.ir__linlListBox .newList li {
  padding: 15px 0;
  border-bottom: 1px dotted #d6d6d6;
}

.ir__linlListBox .newList li:first-child {
  padding-top: 0;
}

.ir__linlListBox .newList li .time {
  color: #999999;
  font-size: 12px;
  float: left;
  width: 140px;
  padding-top: 3px;
}

.ir__linlListBox .newList li .newsContent {
  overflow: hidden;
}

.ir__linlListBox .newList li a.pdf {
  padding: 0 18px 0 26px;
  background: url("../images/icon_pdf.png") left center no-repeat;
}

.ir__linlListBox .newList li a.blank {
  background: url("../images/icon_blank_open.png") right center no-repeat;
  padding-right: 18px;
}

.ir__linlListBox .newList3cl {
  margin-left: -30px;
  margin-bottom: 42px;
}

.ir__linlListBox .newList3cl li {
  padding-bottom: 13px;
  margin-bottom: 13px;
  float: left;
  width: 220px;
  margin-left: 30px;
  border-bottom: 1px dotted #d6d6d6;
}

.ir__linlListBox .ir__2cl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.ir__linlListBox .ir__2cl li {
  float: left;
  width: 345px;
  margin-left: 30px;
  padding-bottom: 40px;
}

.ir__linlListBox .ir__2cl li h3 {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
}

.ir__linlListBox .ir__2cl li h3 a {
  font-weight: normal;
  font-size: 22px;
}

.ir__linlListBox .ir__2cl p {
  padding-top: 30px;
  margin-bottom: 0;
}

.ir__linlListBox .columnTitle {
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 28px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
}

.ir__linlListBox .qaList {
  margin-bottom: 58px;
}

.ir__linlListBox .qaList li {
  margin-top: 30px;
}

.ir__linlListBox .question {
  font-size: 18px;
  min-height: 25px;
  padding-left: 34px;
  margin-bottom: 20px;
  position: relative;
  color: #2b2b2b;
}

.ir__linlListBox .question:before {
  content: "Q";
  display: block;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eb1d34;
  text-align: center;
  line-height: 1.3;
}

.ir__linlListBox .answer p {
  font-size: 13px;
  line-height: 1.7;
}

.ir__linlListBox .qInnerList {
  margin: 0 0 0 1.5rem;
  padding-top: 15px;
}

.ir__linlListBox .qInnerList li {
  margin: 0;
  margin-bottom: 12px;
}

.ir__linlListBox .newList p {
  display: none;
}


.ir__listTable {
  border: 1px solid #d6d6d6;
  border-bottom: none;
}

.ir__listTable li {
  display: table;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 13px;
}

.ir__listTable li .th {
  background-color: #f3f3f3;
  display: table-cell;
  white-space: nowrap;
  width: 36%;
  padding: 13px;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6;
}

.ir__listTable li .td {
  display: table-cell;
  width: 100%;
  background: #fff;
  padding: 13px;
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.ir__listTable li p {
  font-size: 13px;
  line-height: 1.7;
}

.ir__listTable li .address {
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.ir__stocks {
  margin-bottom: 58px;
}

.ir__stocks h3 {
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 28px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
} 

.ir__stocks table.plain {
  border-collapse: collapse;
  border: 1px solid #d6d6d6;
  width: 100%;
  font-size: 13px;
}

.ir__stocks table.plain th {
  border: 1px solid #d6d6d6;
  padding: 13px;
}

.ir__stocks table.plain .headerttl {
  background-color: #f3f3f3;
  font-weight: bold;
}

.ir__stocks table.plain td {
  border: 1px solid #d6d6d6;
  padding: 13px;
  text-align: left;
}

.ir__stocks table.plain td.number {
  text-align: right;
}