/*------------------------------------------------------------
RECRUIT 
------------------------------------------------------------*/
.mr0 {
  margin-right: 0 !important;
}

.mB20 {
  margin-bottom: 20px;
}

.fl_r {
  float: right !important;
}

.fl_l {
  float: left !important;
}

.recruit__content p {
  line-height: 1.7;
  font-size: 13px;
  margin-bottom: 20px;
}

.recruit__listPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recruit__listPage li {
  width: 345px;
  margin-left: 30px;
  padding-bottom: 40px;
}

.recruit__listPage li img {
  max-width: 100%;
}

.recruit__listPage li:nth-child(odd) {
  margin-left: 0;
}

.recruit__listPage li p {
  font-size: 13px;
  line-height: 1.7;
  color: #333;
}

.recruit__ttlPage {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 28px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c1c1c1;
}

.recruit__ttlPage a {
  display: block;
  color: #2770c3;
}

.recruit__ttlPage a:hover {
  text-decoration: underline;
}

.recruit__banner {
  margin-top: 38px;
  position: relative;
}

.recruit__banner .item {
  height: 470px;
}

.recruit__banner .item img {
  max-width: 100%;
  height: 470px;
}

.recruit__btnList {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recruit__btnList a {
  display: inline-block;
  width: 230px;
  padding: 22px 0;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  color: #fff;
  border: 2px solid #fff;
  background: rgba(33, 33, 33, 0.7);
  text-align: center;
  margin: 0 25px;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.recruit__btnList a:after {
  content: "";
  position: absolute;
  top: 54%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 20px;
  background: url("../images/recruit/arw_r_02.png") no-repeat;
}

.recruit__btnList a:hover {
  background: #d32b1e;
}

.recruit__news {
  padding: 12px 0;
  background: #f3e3cb;
}

.recruit__news .label {
  float: left;
  width: 70px;
  padding: 2px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #f39800;
  text-align: center;
}

.recruit__news ul {
  padding-left: 88px;
  font-size: 14px;
}

.recruit__news ul .date {
  display: inline-block;
  font-weight: bold;
  color: #999;
  width: 115px;
  margin-right: 10px;
  padding-bottom: 3px;
}

.recruit__news ul .title a {
  color: #333;
  padding-right: 15px;
  background: url("../images/recruit/icon_blank_open.png") center right no-repeat;
}

.recruit__news ul .title a:hover {
  text-decoration: underline;
}

.recruit__social ul {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recruit__social li {
  margin-left: 10px;
}

.recruit__social .btn {
  padding: 1px 8px 1px 20px;
  height: 20px;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
}

.recruit__social .btn.twiter {
  background: #1b95e0 url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E) 3px center no-repeat;
  background-size: 20%;
}

.recruit__fresh {
  background: #e6e6e6;
}

.recruit__ownedmedia {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recruit__cntList > div {
  margin: 0 22px 22px 0;
  overflow: hidden;
}

.recruit__cntList > div:hover .text {
  bottom: 0;
}

.recruit__cntList > div:hover .arw {
  opacity: 1;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.recruit__cntList a {
  display: block;
  position: relative;
}

.recruit__cntList .cntSmall {
  width: 312px;
  float: left;
}

.recruit__cntList .cntLarge {
  width: 646px;
}

.recruit__cntList .cntTall {
  width: 312px;
  float: left;
}

.recruit__cntList .text {
  position: absolute;
  bottom: -58px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(33, 33, 33, 0.5);
  width: 100%;
  text-align: center;
  -webkit-transition: bottom .3s ease-out;
  transition: bottom .3s ease-out;
}

.recruit__cntList .small {
  font-size: 14px;
  line-height: 1.4;
}

.recruit__cntList .figcation {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 6px;
}

.recruit__cntList .arw {
  margin: 0 auto;
  padding: 6px 0 16px 0;
  opacity: 0;
}

.recruit__relateList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.recruit__img--right {
  float: right;
  width: 220px;
}

.recruit__img--right img {
  width: 220px;
  border: 1px solid #d6d6d6;
}

.recruit__text--left {
  float: left;
  width: 470px;
  padding-bottom: 50px;
}

.recruit__text--left p {
  font-size: 13px;
  list-style: 1.7;
  color: #292929;
  margin-top: 20px;
}

.recruit__text--left p:first-child {
  margin-top: 0;
}

.recruit__signature .role {
  padding-top: 40px;
  list-style: 1.6;
  margin-bottom: 20px;
}

.recruit__signature .name {
  text-indent: -9999px;
  background: url("../images/corporate/signature.png") top left no-repeat;
  height: 0;
  padding-top: 35px;
}

.recruit section {
  margin-bottom: 60px;
}

.recruit section .ttl {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 28px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
}

.recruit section img {
  max-width: 100%;
}

.recruit section a.pdf {
  color: #2770c3;
  background: url("../images/recruit/icon_pdf.png") no-repeat;
  padding-left: 26px;
}

.recruit section a.pdf:hover {
  text-decoration: underline;
}

.recruit__careerList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px dotted #c1c1c1;
}

.recruit__careerList ul ~ h4 {
  padding-top: 25px;
}

.recruit__careerList li {
  width: 50%;
  margin-bottom: 10px;
  font-size: 13px;
}

.recruit__careerList li a {
  color: #2770c3;
}

.recruit__careerList li a:hover {
  text-decoration: underline;
}

.recruit__careerList h4 {
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: bold;
}

.recruit__infoTable p {
  margin-bottom: 20px;
  font-size: 13px;
}

.recruit__listTable {
  border: 1px solid #d6d6d6;
}

.recruit__listTable li {
  display: table;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 13px;
}

.recruit__listTable li .th {
  background-color: #f3f3f3;
  display: table-cell;
  white-space: nowrap;
  width: 36%;
  padding: 13px;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6;
}

.recruit__listTable li .td {
  display: table-cell;
  width: 100%;
  background: #fff;
  padding: 13px;
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.recruit__listsubTable li.th {
  padding: 10px 0 5px 0;
  border: 0;
  background: none;
  padding-bottom: 5px;
}

.recruit__listsubTable .subText {
  padding-top: 10px;
}

.recruit__entryBody p {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 1.7;
}

.recruit__doubleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recruit__doubleBox li {
  width: 345px;
  padding-bottom: 40px;
}

.recruit__doubleBox li strong {
  display: block;
}

.recruit__staff li {
  margin-bottom: 45px;
  position: relative;
}

.recruit__staff li img {
  width: 220px;
  border: 1px solid #d6d6d6;
  float: left;
  margin-bottom: 0 !important;
}

.recruit__staff li h4 {
  margin-bottom: 9px;
}

.recruit__staff li h4 a {
  font-size: 20px;
}

.recruit__staff li p {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 0;
}

.recruit__staff li figcaption {
  width: 470px;
  float: right;
}

.recruit__profile .nameBox {
  font-size: 20px;
  margin-bottom: 5px;
  color: #2b2b2b;
}

.recruit__profile .data {
  margin-bottom: 24px;
  color: #888888;
  font-size: 12px;
}

.recruit__characterBox figure {
  width: 240px;
  float: left;
}

.recruit__characterBox figure img {
  width: 240px;
  border: 1px solid #d6d6d6;
}

.recruit__characterBox figure .staff.on {
  display: none;
}

.recruit__characterBox figure:hover .staff.on {
  display: block;
}

.recruit__characterBox figure:hover .staff.off {
  display: none;
}

.recruit__workList {
  float: right;
  width: 450px;
  margin-top: -3px;
}

.recruit__workList h4 {
  font-size: 17px;
  margin-bottom: 8px;
}

.recruit__profileBox {
  margin-bottom: 60px;
  *zoom: 1;
}

.recruit__profileBox:after {
  display: block;
  content: "";
  clear: both;
}

.recruit__others h3 {
  font-size: 18px;
}

.recruit__othersList li {
  width: 165px;
  float: left;
  margin-right: 20px;
  padding-top: 20px;
}

.recruit__othersList li:nth-child(4n+4) {
  margin-right: 0;
}

.recruit__othersList li img {
  width: 165px;
  border: 1px solid #d6d6d6;
  margin-bottom: 5px;
}

.recruit__othersList li figcaption {
  text-align: center;
}

.recruit__othersList li figcaption .role {
  font-size: 12px;
  margin-bottom: 3px;
}

.recruit__othersList li figcaption .role:hover {
  text-decoration: underline;
}

.recruit__gallery li {
  float: left;
  width: 220px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.recruit__gallery li img {
  width: 220px;
  border: 1px solid #d6d6d6;
  margin-bottom: 0 !important;
}

.recruit__gallery li:nth-child(3n+3) {
  margin-right: 0;
}

.recruit__gallery li:hover img {
  opacity: .7;
}

.recruit__overlay {
  background: #000;
  opacity: .8;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.recruit__lightbox {
  width: 800px;
  height: 627px;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 1;
  display: block;
  background: #fff;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.recruit__lightbox--img {
  border-top: 40px solid #fff;
  border-left: 50px solid #fff;
  border-right: 50px solid #fff;
  overflow: hidden;
}

.recruit__lightbox--img figcaption p {
  font-size: 13px;
  line-height: 1.4rem;
  margin-top: 15px;
}

.recruit__lightbox .box img {
  width: 100%;
  height: auto;
  margin-bottom: 0 !important;
}

.recruit--arrow {
  position: fixed;
  top: 43%;
  left: 32px;
  z-index: 1000;
  cursor: pointer;
  text-indent: -9999px;
  width: 31px;
  height: 31px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.recruit--next {
  background: url("../images/recruit/pic_left.png") no-repeat;
}

.recruit--prev {
  background: url("../images/recruit/pic_right.png") no-repeat;
  left: auto;
  right: -15px;
}

.recruit--close {
  background: #d8d8d8;
  color: #2a2a2a;
  display: block;
  width: 115px;
  font-weight: bold;
  padding: 8px;
  border-radius: 3px;
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
