/*------------------------------------------------------------
Service page
------------------------------------------------------------*/
.service__content {
  margin-bottom: 80px;
}

.service__listPage {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__listPage li {
  width: 345px;
  margin-left: 30px;
  padding-bottom: 40px;
}

.service__listPage li:nth-child(odd) {
  margin-left: 0;
}

.service__listPage li a {
  display: block;
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 8px;
  color: #2770c3;
}

.service__listPage li a:hover {
  text-decoration: underline;
}

.service__imgTop {
  width: 80%;
  margin: 5px auto;
}

.service__imgLogo {
  padding: 10px;
}

.service__listLogo {
  border: 4px solid #eee;
  text-align: center;
  margin-bottom: 10px;
}

.service__listLogo .img {
  display: inline-block;
  max-width: 24%;
  padding: 0 10px 20px 10px;
}

.service__listLogo .img:first-child {
  max-width: 100%;
  width: 45%;
  margin: 0 auto;
  display: block;
}

.service__listLogo img {
  max-width: 100%;
}

/* ---- Page media ---- */
.service__imageList > li {
  margin-bottom: 45px;
}

.service figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__imageList figure img {
  width: 220px;
  border: 1px solid #d6d6d6;
  margin-bottom: 0 !important;
}

.service figcaption {
  width: 470px;
  position: relative;
}

.service figcaption p {
  margin-bottom: 0;
}

.service figcaption h4 {
  font-size: 20px;
}

.service figcaption h4 a {
  color: #2770c3;
}

.service figcaption h4 a:hover {
  text-decoration: underline;
}

.service figcaption p {
  font-size: 13px;
  line-height: 1.7;
}

.service figcaption ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__btnList {
  padding-top: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.service__btnList .goWeb {
  background: #d8d8d8;
  color: #2a2a2a;
  line-height: 26px;
  width: 110px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 13px;
  margin-right: 6px;
}

.service__btnList .goWeb:hover {
  background: #e5e5e5;
}

.service__btnList .facebook {
  padding: 0;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 13px;
  text-indent: -9999px;
  background: #3c5a98 url("../images/service/icon_facebook.png") center center no-repeat;
  width: 26px;
  margin-right: 6px;
}

.service__btnList .twitter {
  padding: 0;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 13px;
  text-indent: -9999px;
  background: #32a7e0 url("../images/service/icon_twitter.png") center center no-repeat;
  width: 26px;
  margin-right: 6px;
}

.service__btnList .google {
  padding: 0;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 13px;
  text-indent: -9999px;
  background: #fff url("../images/service/icon_google.png") center center no-repeat;
  width: 26px;
  border: 1px solid #d9d9d9;
  margin-right: 6px;
}