.socialmedia {
  margin-bottom: 70px;
}

.socialmedia__item {
  float: left;
  width: 470px;
  margin-bottom: 40px;
  position: relative;
}

.socialmedia__item img {
  float: left;
  margin-right: 20px;
  max-width: 137px;
  border: 1px solid #d6d6d6;
}

.socialmedia__item h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.socialmedia__item p {
  font-size: 13px;
  line-height: 1.7;
}

.socialmedia__item:nth-child(odd) {
  margin-right: 40px;
}

.socialmedia__btnList {
  position: absolute;
  bottom: -6px;
  left: 157px;
}

.socialmedia__btnList li {
  float: left;
}

.socialmedia__btnList a {
  padding: 0;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 13px;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

.socialmedia__btnList .twitter {
  background: #32a7e0 url("../images/service/icon_twitter.png") center center no-repeat;
}

.socialmedia__btnList .facebook {
  background: #3c5a98 url("../images/service/icon_facebook.png") center center no-repeat;
}

.socialmedia__btnList .google {
  background: #fff url("../images/service/icon_google.png") center center no-repeat;
  border: 1px solid #d9d9d9;
}
/*# sourceMappingURL=../maps/social.css.map */
