/*
* Theme Name: All About
* Description: Theme basic
* Version: 1.0
* Author: All Abhout
* Tags: Basic, post format
*/
@import url("reset.css");
/*------------------------------------------------------------
Header
------------------------------------------------------------*/
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  /* ---- Inner ---- */
}

.header__inner {
  width: 980px;
  background: #fff;
  margin: 0 auto;
  /* ---- Logo ---- */
  /* ---- Menu ---- */
}

.header__inner h1 {
  float: left;
  padding-top: 10px;
}

.header__inner h1 a {
  display: block;
  text-indent: -9999px;
  background: url("/assets/images/logo3.png") center center no-repeat;
  width: 155px;
  padding: 20px 0;
}

.header__inner nav {
  float: right;
}

.header__inner li {
  float: left;
  padding: 25px 0 31px 0;
  position: relative;
  border-top: 3px solid #fff;
}

.header__inner li a {
  display: block;
  margin: 0 10px;
  color: #555555;
  font-weight: bold;
  font-size: 13px;
}

.header__inner li:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: #eb1d34;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.header__inner li:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__inner li.featured {
  border-top: 3px solid #eb1d34;
}

.pb20 {
  padding-bottom: 20px;
}

li.pb25 {
  padding-bottom: 25px;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  background: #212121;
  padding-top: 30px;
  position: relative;
  /* ---- Nav ---- */
  /* ---- Coppyright ---- */
}

.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer ul {
  line-height: 1.7;
  width: 245px;
}

.footer ul a {
  display: block;
  color: #bebebe;
  font-size: 11px;
  font-weight: normal;
  padding-left: 12px;
}

.footer ul a:hover {
  text-decoration: underline;
}

.footer ul ul a {
  padding-left: 24px;
}

.footer li.footer__navttl {
  background: url("/assets/images/icon_footerNav.png") left center no-repeat;
}

.footer li.footer__navttl a {
  font-weight: bold;
  color: #fff;
}

.footer li.footer__navttl.pb20 {
  background-position: left 8px;
}

.footer__coppyright {
  border-top: 1px solid #2a2a2b;
  margin-top: 35px;
  padding: 20px 0;
  width: 100%;
}

.footer__coppyright small {
  color: #999;
  font-size: 10px;
}

.pageTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.pageTop a {
  text-indent: -9999px;
  display: inline-block;
  background: url("/assets/images/icon_arrowPageTop.png") center center no-repeat;
  width: 40px;
  height: 40px;
  background-color: #6c6c6c;
  border-radius: 4px;
}

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.wrapper {
  min-width: 960px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
  background: #fff;
}

.content {
  width: 980px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.main {
  padding-top: 80px;
}

/*------------------------------------------------------------
Component Components
------------------------------------------------------------*/
p {
  color: #292929;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.clear {
  clear: both;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
.listservice {
  background: #212121;
}

.listservice ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.listservice ul ul {
  position: absolute;
  left: 0;
  background: #212121;
  width: 100%;
  padding: 10px;
  display: none;
  opacity: 0;
}

.listservice ul ul li {
  float: left;
  width: 230px;
  background: #fff;
  border: none;
  margin-right: 13px;
  margin-bottom: 13px;
}

.listservice ul ul li:nth-child(4) {
  margin-right: 0;
}

.listservice ul ul li:nth-child(8) {
  margin-right: 0;
}

.listservice ul ul li:hover {
  background: #fff;
}

.listservice ul ul a {
  padding-left: 10px;
}

.listservice ul ul img {
  float: left;
  width: 74px;
}

.listservice ul ul p {
  width: 135px;
  float: right;
  text-align: left;
  font-size: 12px;
  line-height: 1.5rem;
  padding: 11px 5px 0 0;
}

.listservice ul > li {
  line-height: 40px;
  border-right: 1px solid #000;
  border-left: 1px solid #3f3f3f;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 140px;
  text-align: center;
}

.listservice ul > li:hover {
  background: #000;
}

.listservice ul > li:hover ul {
  opacity: 1;
  display: block;
}

.listservice a {
  display: block;
  color: #fff;
  font-size: 13px;
}

.listservice.fixed {
  position: fixed;
  top: 78px;
  width: 100%;
  z-index: 100;
}

/*------------------------------------------------------------
INFOMATION 
------------------------------------------------------------*/
.news {
  background: #fff;
  padding: 57px 0 0 0;
}

.news__ttl {
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 27px;
  padding-bottom: 8px;
}

.news__ttl h3 {
  font-size: 22px;
  font-weight: normal;
  float: left;
  margin-right: 25px;
}

.news__ttl a {
  display: inline-block;
  font-size: 12px;
  background: url("/assets/images/index/icon_mail.png") left center no-repeat;
  background-color: #eb1d34;
  color: #fff;
  border-radius: 4px;
  padding: 6px 12px 5px 38px;
  background-position: 13px 8px;
  position: relative;
  bottom: -3px;
}

.news__ttl a:hover {
  opacity: .8;
}

.news__lists {
  margin-bottom: 58px;
}

.news__lists li {
  background: url("/assets/images/horizontal_dot_line.png") left bottom repeat-x;
  padding: 15px 0;
}

.news__lists li:first-child {
  padding-top: 0;
}

.news__lists a {
  display: inline-block;
  color: #2770c3;
  margin-top: 13px;
}

.news__lists a small {
  font-size: 80%;
  display: block;
}

.news__lists a:hover {
  text-decoration: underline;
}

.news__date {
  color: #999;
  font-size: 12px;
}

.news__cat {
  background: #ececec;
  display: inline-block;
  font-size: 12px;
  padding: 2px 10px;
  margin-left: 15px;
}

.news__company {
  float: right;
}

.news__label {
  color: #eb1d34;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
}

/*------------------------------------------------------------
Slide
------------------------------------------------------------*/
.slide {
  position: fixed;
}

.slide .slick-slide {
  opacity: .5;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.slide .slick-slide.slick-current {
  opacity: 1;
}

.slide .slick-arrow {
  position: absolute;
  top: 42%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  text-indent: -9999px;
  border: none;
  width: 37px;
  height: 72px;
  cursor: pointer;
}

.slide .slick-arrow:hover {
  background-color: #000;
}

.slide .slick-next {
  left: auto;
  right: 0px;
  background: #212121 url("/assets/images/index/top_angle_right.png") center center no-repeat;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.slide .slick-prev {
  background: #212121 url("/assets/images/index/top_angle_left.png") center center no-repeat;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.slide .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.slide .slick-dots li {
  margin: 0 5px;
}

.slide .slick-dots .slick-active button {
  background: #e50c15;
}

.slide .slick-dots button {
  text-indent: -9999px;
  border: none;
  background: #1c1c1c;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.slide .slick-dots button:hover {
  background: #e50c15;
}

/*------------------------------------------------------------
Animation
------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

